<tbody class='userInfobox' data-id={{id}}>
  <tr class='titleRow'>
    <th>{{category}}</th>
  </tr>
  {{#each labels as |label|}}
    <tr class='row'>
      <td>{{label.label}}</td>
      <td><input name={{label.id}} type='text' /></td>
    </tr>
  {{/each}}
</tbody>