<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Rush Truck Leasing</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>
    <nav>
      <div class='header'>
        <div>
          <a href='/'><img src='./RTC-Logo.png' alt='company logo' /></a>
        </div>
        <div class='menu'>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
            {{#if data.id}}
              <a class='aEl' id='delete'>Delete Selected Vehicle</a>
              <a class='aEl' id='edit' href='#'>Edit Selected Vehicle</a>
            {{/if}}
            <a class='aEl' href='/add'>Add New Vehicle</a>
            <button class='logEl' id='logout'>LOGOUT</button>
          {{else}}
            <a class='logEl' href='/login'>LOGIN</a>
          {{/if}}
        </div>
      </div>
    </nav>

    <div class='wrapper'>
      <main class=''>
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}

  </body>

</html>