{{!-- -----CARD LAYOUT----- --}}
<form id="new-card-form" class="infoBoxes">
  <table>
  <tbody class='userInfobox' id="vehicle-id">
  <tr class='titleRow'>
    <th>Details</th>
  </tr>
      <tr class='row'>
        <td>Unit Number</td>
        <td><input name="unit-num" type="text"></td>
      </tr>
      <tr class='row'>
        <td>Customer Unit Number</td>
        <td><input name="customer-unit-num" type="text"></td>
      </tr>
      <tr class='row'>
        <td>VIN</td>
        <td><input name="vin-input" type="text"></td>
      </tr>
</tbody>
  {{#each categories as |category|}}
  {{> new-vehicle-card}}
  {{/each}}
  </table>
</form>

{{!-- -----ADD BUTTON----- --}}

{{#if edit}}
  <script defer src="/js/edit-vehicle.js"></script>
  <button type="submit" name="submit-button" id="submit-button" class="">Submit Changes</button>
{{else}}
  <button type="submit" name="submit-button" id="submit-button" class="">Add Vehicle</button>
  <script defer src="/js/add-vehicle.js"></script>
{{/if}}