    {{!-- -----CARD LAYOUT----- --}}
    {{#if id}}
<table class="infoBoxes">
  <tbody class='userInfobox' data-id={{id}}>
  <tr class='titleRow'>
    <th>Details</th>
  </tr>
    {{#if unitNumber}}
      <tr class='row'>
        <td>Unit Number</td>
        <td><input type="text"></td>
      </tr>
    {{/if}}
    {{#if customerUnitNumber}}
      <tr class='row'>
        <td>Customer Unit Number</td>
        <td><input type="text"></td>
      </tr>
    {{/if}}
    {{#if vin}}
      <tr class='row'>
        <td>VIN</td>
        <td><input type="text"></td>
      </tr>
    {{/if}}
</tbody>
  {{#each categories as |category|}}
  {{> card}}
  {{/each}}
</table>
{{/if}}

{{!-- -----ADD BUTTON----- --}}
<button type="submit" class="">Add Vehicle</button>

<script src="/public/js/add-vehicle.js"></script>