<div class="new-card-section">
  <div class="">
    <h2>Welcome, {{name}}!</h2>
  </div>


{{!-- need hugo's search bar code --}}
    <main>
    <form action="" class="main-form">
      <div class="inputEl">
        <input type="text" class="searchEl" />
      </div>
      <div class="radiosMainbox">
        <input type="radio" name="radioEl" id="Unit" checked />
        <label for="Unit" class="radioLabel">Unit<br />Number</label>
        <input type="radio" name="radioEl" id="Customer" />
        <label for="Customer" class="radioLabel">
          Customer Unit<br />Number</label
        >
        <input type="radio" name="radioEl" id="VIN" />
        <label for="VIN" class="radioLabel">VIN</label>
        <input type="radio" name="radioEl" id="LastFour" />
        <label for="LastFour" class="radioLabel">Last 8<br />of VIN</label>
      </div>
      <div class="buttonDiv">
        <button class="searchBtn">SEARCH</button>
      </div>
    </form>
    <table class="infoBoxes">
      <tbody class="userInfobox">
        <tr class="titleRow">
          <th>General</th>
        </tr>
        <tr class="row">
          <td>Customer Name:</td>
          <td>Star Transport LLC</td>
        </tr>
        <tr class="row">
          <td>Unit Type:</td>
          <td>FSL</td>
        </tr>
        <tr class="row">
          <td>Mobile Service:</td>
          <td>Yes</td>
        </tr>
        <tr class="row">
          <td>Model Year:</td>
          <td>2021</td>
        </tr>
        <tr class="row">
          <td>Vehicle Make:</td>
          <td>Peterbilt</td>
        </tr>
        <tr class="row">
          <td>Vehicle Model:</td>
          <td>337</td>
        </tr>
      </tbody>
      <tbody class="userInfobox">
        <tr class="titleRow">
          <th>Engine</th>
        </tr>
        <tr class="row">
          <td>Eng Make:</td>
          <td>Cummins</td>
        </tr>
        <tr class="row">
          <td>Eng Model:</td>
          <td>X15</td>
        </tr>
        <tr class="row">
          <td>Eng SN:</td>
          <td>80264855</td>
        </tr>
        <tr class="row">
          <td>Aftertreatment Number:</td>
          <td>A062R615</td>
        </tr>
      </tbody>
      <tbody class="userInfobox">
        <tr class="titleRow">
          <th>Parts</th>
        </tr>
        <tr class="row">
          <td>Oil Filter:</td>
          <td>LF14000NNFLG:FG</td>
        </tr>
        <tr class="row">
          <td>Fuel Filter:</td>
          <td>FF5825NNFLG:FG</td>
        </tr>
        <tr class="row">
          <td>Fuel/Water Seperator:</td>
          <td>FS19764FLG:FG</td>
        </tr>
        <tr class="row">
          <td>Cabin Air Filter:</td>
          <td>2021</td>
        </tr>
        <tr class="row">
          <td>Vehicle Make:</td>
          <td>SR2000092:PB</td>
        </tr>
        <tr class="row">
          <td>Engine Air Filter:</td>
          <td>P621725:DF</td>
        </tr>
      </tbody>
      <tbody class="userInfobox">
        <tr class="titleRow">
          <th>General</th>
        </tr>
        <tr class="row">
          <td>Customer Name:</td>
          <td>Star Transport LLC</td>
        </tr>
        <tr class="row">
          <td>Unit Type:</td>
          <td>FSL</td>
        </tr>
        <tr class="row">
          <td>Mobile Service:</td>
          <td>Yes</td>
        </tr>
        <tr class="row">
          <td>Model Year:</td>
          <td>2021</td>
        </tr>
        <tr class="row">
          <td>Vehicle Make:</td>
          <td>Peterbilt</td>
        </tr>
        <tr class="row">
          <td>Centrifugal:</td>
          <td>1922496PE:PB</td>
        </tr>
      </tbody>
    </table>
  <div>
    <ul>
      <li>
        {{!-- see how to select vehicle data via user input --}}
        {{#each vehicleData as |card|}}
          {{> vehicleData card}}
        {{/each}}
      </li>
    </ul>
  </div>

</div>


<script src="/public/js/profile.js"></script>

