* {
margin: 0px;
padding:0px;
/* box-shadow: border-box; */
}
body {
    font-family: "Roboto", sans-serif;
    background-color: white;
}
.tab-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    max-width: 400px;
    background: #fff;
    box-shadow:0px 2px 5px 2px rgba(0, 0, 0,0.8);
}
.tab-form .tab-header {
    display:flex;
    justify-content:space-between;
    padding:20px;

}
.tab-form .tab-header > div {
    flex:1;
    padding:15px;
    text-align:center;
    color: #555;
    cursor:pointer;
}
.tab-form .tab-header > div.active {
    border: 1px solid #4a9ff3;
    color:#4a9ff3;
    background: #e9f4ff;
}
.tab-form .tab-body {
    position: relative;
    min-height: 360px;
    overflow:hidden;
}