* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    background-color:white;
}

.login-page {
    width: 80vmin;
    border: 1px solid #6BA9FF;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 120px;
    background-color: #fff;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

h2 {
    background-color: #6BA9FF;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    font-weight: 600;
}

.tab.content {
    background-color: #fff;
    padding: 50px 40px;
}

.tab-content h4 {
    font-size: 28px;
    margin-bottom: 20px;
    color: black;
    font-weight: 600;
}

.tab-content div {
    display: contents;
}

/* .tab-content .active {
    display: block;
} */

/* .tab .active {
    background-color: #fff;
    color: black;

} */

/* .password {
    text-align: justify;
    line-height: 1.9;
    letter-spacing: 0.4px;
    color:rgba(0, 0, 0, 0.2)
} */
