:root {
    --light: #6BA9FF;
    --medium: #4C8FED;
    --dark: #144EA2;
  }
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-image: linear-gradient(180deg, #cfe1fa, white);
}

/* --------------LOGIN FILE STYLING ---------------- */ 

.tab-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    max-width: 400px;
    background: #fff;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.8);
}

.tab-form .tab-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.tab-form .tab-header>div {
    flex: 1;
    padding: 15px;
    text-align: center;
    color: #555;
    cursor: pointer;
}

.tab-form .tab-header>div.active {
    border: 1px solid #4a9ff3;
    color: #4a9ff3;
    background: #e9f4ff;
}

.tab-form .tab-body {
    position: relative;
    min-height: 360px;
    overflow: hidden;
}

.tab-form .tab-body>div {
    position: absolute;
    width: 100%;
    top: -150vh;
    opacity: 0;
    padding: 5px 25px;
    transition: opacity 300ms ease-in-out 0ms;
}

.tab-form .tab-body>div.active {
    top: 0px;
    opacity: 1;
    transition: opacity 300ms ease-in-out 0ms;
}

.tab-form .tab-body>div h2 {
    font-size: 25px;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.tab-form .tab-body>div .login-input {
    margin: 10px 0px;
}

.tab-form .tab-body>div .login-input label {
    display: block;
    font-size: 15px;
}

.tab-form .tab-body>div .login-input input {
    width: 75%;
    margin-top: 5px;
    font-size: 15px;
    padding: 8px;
}

.tab-form .tab-body>div .login-input button {
    width: 80%;
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #6BA9FF;
    color: #144EA2;
    font-weight: 600;

}

.tab-form .tab-body>div .signup-input {
    margin: 10px 0px;
}

.tab-form .tab-body>div .signup-input label {
    display: block;
    font-size: 15px;
}

.tab-form .tab-body>div .signup-input input {
    width: 75%;
    margin-top: 5px;
    font-size: 15px;
    padding: 8px;
}

.tab-form .tab-body>div .signup-input button {
    width: 80%;
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #6BA9FF;
    color: #144EA2;
    font-weight: 600;

}

.card {
    margin-bottom: 2%;
    line-height: 150%;
    border: 3px solid black;
}

.new-card-section {
    display: flex;
    justify-content: center;
}


/* --------------PROFILE FILE STYLING ---------------- */

main {
    padding: 10px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100%;
    background-color: 144EA2;
    margin-bottom: 50px;
    border-bottom: 2px solid var(--medium);
    padding: 5px 15px;
}

.header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aEl {
    color: white;
    margin: 0 16px;
    text-decoration: none;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;  
}

.logEl {
    background-color: var(--light);
    border: none;
    border-radius: 5px;
    color: white;
    margin: 0 16px;
    text-decoration: none;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;    
}

.main-form {
    max-width: 800px;
    width: 100%;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    height: 250px;
    box-shadow: 0px 2px 7px rgb(46, 46, 46);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.inputEl {
    width: 100%;
    display: flex;
    justify-content: center;
}

.searchEl {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(197, 197, 197);
    padding: 15px;
}

.searchEl:focus {
    outline: none;
    border: 2px solid var(--medium);
    padding: 15px;
}

.radiosMainbox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #e7f1ff;
    border-radius: 5px;
}

input[type="radio"] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

.radioLabel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    height: 80%;
    width: 170px;
    cursor: pointer;
    color: var(--medium);
}

input[type="radio"]:checked+.radioLabel {
    border: none;
    background-color: white;
    color: var(--dark);
    box-shadow: 0px 1px 5px rgb(129, 129, 129);
}

.buttonDiv {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}

.searchBtn {
    border: none;
    border-radius: 5px;
    background-color: var(--dark);
    width: 100%;
    color: white;
    font-size: 20px;
}

.searchBtn:hover {
    background-color: var(--medium);
}

.infoBoxes {
    width: 100%;
    height: 600px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.userInfobox {
    width: 450px;
    height: 250px;
    margin-bottom: 35px;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgb(46, 46, 46);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleRow {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--dark);
    font-size: 20px;
    font-weight: bold;
}

.row {
    padding-top: 5px;
    display: inline-flex;
    justify-content: space-between;
}