* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #144EA2
}










.login-page {
    border: 3px solid #144EA2;
    padding-bottom: 10px;
}